.tm-sidebar-left {
  position: fixed;
  top: 80px;
  bottom: 55px;
  left: 0;
  box-sizing: border-box;
  width: 240px !important;
  padding: 40px 40px 60px 40px;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;
  transition: all 0.2s ease-in-out !important;
}

.tm-nav .uk-nav-default .uk-nav-header {
  color: #e5e5e5;
}

.side-container {
  transition: all 0.2s ease-in-out !important;
}

.tm-sidebar-left-footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  /* border-top: 1px solid #e5e5e5; */
  outline: 1px solid #e5e5e5;
  width: 239px !important;
  transition: all 0.2s ease-in-out !important;
}
